In [2]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Using cached https://files.pythonhosted.org/packages/d8/f1/f251f95999e1e9373976e23d8de0470a790365ae3e5a27f5974487a7c384/mysql_connector_python-8.0.17-cp37-cp37m-win_amd64.whl
Collecting protobuf>=3.0.0 (from mysql-connector-python)
  Using cached https://files.pythonhosted.org/packages/a8/ae/a11b9b0c8e2410b11887881990b71f54ec39b17c4de2b5d850ef66aade8c/protobuf-3.10.0-cp37-cp37m-win_amd64.whl
Requirement already satisfied: six>=1.9 in c:\users\g. k. patnaik\appdata\roaming\python\python37\site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.12.0)
Requirement already satisfied: setuptools in c:\programdata\anaconda3\lib\site-packages (from protobuf>=3.0.0->mysql-connector-python) (41.0.1)
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.0.17 protobuf-3.10.0
Note: you may need to restart the kernel to use updated packages.

In [1]:
import mysql.connector

In [2]:
cnx = mysql.connector.connect(user='pratiksha', password='mypass',
                              host='localhost',
                              database='classicmodels')

In [38]:
print (cnx)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000000B6FCDE2710>

## Lets count  the number of employees whose last name or first name starts with the letter 'P'.

In [46]:
cursor = cnx.cursor()
query=("SELECT count(*) from employees WHERE status like 'p%' OR firstName like 'p%'")
cursor.execute(query)

In [47]:
cursor.fetchone()

(5,)

### There are 5 employees whose last name or first name starts with the letter 'P'.

## Lets find out how many orders have not yet shipped

In [16]:
cursor = cnx.cursor()
query=("SELECT count(*) from orders WHERE status='On Hold' or status='In Process'")
cursor.execute(query)

In [17]:
cursor.fetchone()

(10,)

### From the status of the orders we can see that 10 orders haven't been shipped yet as the Disputed, Resolved and Shipped orders are already shipped.

## Lets find out the number of orders that were shipped less than 2 days before they were required.

In [23]:
cursor = cnx.cursor()
query=("SELECT count(*) FROM orders where (requiredDate-shippedDate)<2")
cursor.execute(query)

In [24]:
cursor.fetchone()

(25,)

### From the above result we can see that there are 25 orders that were shipped less than 2 days before they were required.

## Lets find out for how many letters of the alphabet are there more than one employee whose last name starts with that letter.

In [53]:
cursor = cnx.cursor()
query=("SELECT substr(lastName,1,1) initial,count(*) AS number_of_alphabets from employees GROUP BY initial having count(*)>1")
cursor.execute(query)

In [54]:
cursor.fetchall()

[('B', 4), ('F', 3), ('J', 2), ('K', 2), ('M', 2), ('P', 3), ('T', 2)]

### From the above result we can see that there are 7 letters of the aphabet for which there are more than one employee whose last name starts with that letter.

## Lets find the total dollar value of orders placed for each distinct product line.

In [3]:
cursor = cnx.cursor()
query=("SELECT distinct p.productLine,sum(o.priceEach*o.quantityOrdered) AS total_in_dollars from orderdetails o, products p WHERE p.productCode=o.productCode GROUP BY p.productLine")
cursor.execute(query)

In [4]:
cursor.fetchall()

[('Classic Cars', Decimal('3853922.49')),
 ('Motorcycles', Decimal('1121426.12')),
 ('Planes', Decimal('954637.54')),
 ('Ships', Decimal('663998.34')),
 ('Trains', Decimal('188532.92')),
 ('Trucks and Buses', Decimal('1024113.57')),
 ('Vintage Cars', Decimal('1797559.63'))]

### We can see that we have 7 distinct product Lines. Also representing the sum of Total value in dollars of each distinct product Line

## Lets find out the name of every product that the first three customers in alphabetical order have ordered ?

In [18]:
cursor = cnx.cursor()
query=("SELECT p.productName,c.customerName FROM customers AS c, ORDERS as o, orderdetails AS od, products AS p WHERE od.orderNumber=o.orderNumber AND od.productCode=p.productCode AND c.customerNumber=o.customerNumber AND c.customerNumber IN (SELECT * FROM ( SELECT c1.customerNumber FROM customers AS c1  ORDER BY c1.customerName ASC LIMIT 3) AS x)")
cursor.execute(query)

In [19]:
cursor.fetchall()

[('1993 Mazda RX-7', 'Alpha Cognac'),
 ('1995 Honda Civic', 'Alpha Cognac'),
 ('1992 Ferrari 360 Spider red', 'Alpha Cognac'),
 ('1972 Alfa Romeo GTA', 'Alpha Cognac'),
 ('1980s Black Hawk Helicopter', 'Alpha Cognac'),
 ('1999 Yamaha Speed Boat', 'Alpha Cognac'),
 ('1941 Chevrolet Special Deluxe Cabriolet', 'Alpha Cognac'),
 ('1900s Vintage Bi-Plane', 'Alpha Cognac'),
 ('1937 Horch 930V Limousine', 'Alpha Cognac'),
 ('1940 Ford Delivery Sedan', 'Alpha Cognac'),
 ('Corsair F4U ( Bird Cage)', 'Alpha Cognac'),
 ('HMS Bounty', 'Alpha Cognac'),
 ('America West Airlines B757-200', 'Alpha Cognac'),
 ('American Airlines: MD-11S', 'Alpha Cognac'),
 ('Boeing X-32A JSF', 'Alpha Cognac'),
 ('The Mayflower', 'Alpha Cognac'),
 ('The USS Constitution Ship', 'Alpha Cognac'),
 ('The Titanic', 'Alpha Cognac'),
 ('The Queen Mary', 'Alpha Cognac'),
 ('Pont Yacht', 'Alpha Cognac'),
 ('1952 Alpine Renault 1300', 'Amica Models & Co.'),
 ('1940 Ford Pickup Truck', 'Amica Models & Co.'),
 ('1937 Lincoln Berline', 'Amica Models & Co.'),
 ('1936 Mercedes-Benz 500K Special Roadster', 'Amica Models & Co.'),
 ('1917 Grand Touring Sedan', 'Amica Models & Co.'),
 ('1911 Ford Town Car', 'Amica Models & Co.'),
 ('1932 Model A Ford J-Coupe', 'Amica Models & Co.'),
 ('1928 Mercedes-Benz SSK', 'Amica Models & Co.'),
 ('1913 Ford Model T Speedster', 'Amica Models & Co.'),
 ('1934 Ford V8 Coupe', 'Amica Models & Co.'),
 ('18th Century Vintage Horse Carriage', 'Amica Models & Co.'),
 ('1917 Maxwell Touring Car', 'Amica Models & Co.'),
 ('1932 Alfa Romeo 8C2300 Spider Sport', 'Amica Models & Co.'),
 ('1939 Chevrolet Deluxe Coupe', 'Amica Models & Co.'),
 ('1938 Cadillac V-16 Presidential Limousine', 'Amica Models & Co.'),
 ('1936 Mercedes Benz 500k Roadster', 'Amica Models & Co.'),
 ('1936 Chrysler Airflow', 'Amica Models & Co.'),
 ('2001 Ferrari Enzo', 'Amica Models & Co.'),
 ('1969 Corvair Monza', 'Amica Models & Co.'),
 ('1969 Ford Falcon', 'Amica Models & Co.'),
 ('1903 Ford Model A', 'Amica Models & Co.'),
 ('Collectable Wooden Train', 'Amica Models & Co.'),
 ('1904 Buick Runabout', 'Amica Models & Co.'),
 ('18th century schooner', 'Amica Models & Co.'),
 ('The Mayflower', 'Amica Models & Co.'),
 ('Pont Yacht', 'Amica Models & Co.')]

### We can see that there is one customer with no products